.cta-section {
  background-color: #000000;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 8px solid var(--primary-red);
  padding: 5rem 0;
}

.cta-section h2 {
  color: #fff;
}

.cta-section p {
  color: rgba(255, 255, 255, 0.7) !important;
}

.cta-form input {
  transition: var(--transition-smooth);
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
}

.cta-form input:focus {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-color: var(--primary-red) !important;
  box-shadow: none !important;
}

.cta-form input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.cta-form button {
  background-color: var(--primary-red) !important;
  color: #fff !important;
  border-color: var(--primary-red) !important;
}

.cta-form button:hover {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}

.cta-form button:hover {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #fff !important;
}

@media (max-width: 767.98px) {
  .cta-form button {
     width: 100%;
  }
}
